---
import type { GetStaticPaths } from "astro";
import { languages } from "../../i18n/ui";

import AboutHeader from "../../components/headers/aboutHeader.astro";
import Layout from "../../layouts/Layout.astro";
import Team from "../../components/team.astro";
import Faq from "../../components/faq.astro";
import ClientReview from "../../components/clientReview.astro";
import Steps from "../../components/steps.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

export const getStaticPaths = (() => {
	return Object.keys(languages).map( locale => ({ 
		params : { locale }
	}));
}) satisfies GetStaticPaths;

type itEnum = "one"|"two"|"three"|"four";
const buztypes: itEnum[] = ["one","two","three","four"];

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

---

<Layout>

    <AboutHeader/>

    <section class="py-5">
        <div class="container row gx-4 align-items-center mx-auto">
            <aside class="d-none d-md-block col-md-6">
                <img data-iobs="none" width="100%" class="object-fit-cover rounded-3" src="/nbc/imgs/hero3.avif">
            </aside>
            <aside class="col-md-6">
                <div data-iobs="left" data-iobs-transition="1s" class="ms-md-2 ms-lg-5 mt-5 mt-md-0">
                    <span class="text-primary">{t('nav.who')}</span>
                    <h2 class="display-5 fw-bold">{t('nav.about')}</h2>
                    <p class="lead">{t('about.story')}</p>
                    <p>{t('about.story1')}.</p>
                    <!-- <a class="btn btn-primary" href="#testimonials">{t('read')}</a> -->
                    <a class="icon-link icon-link-hover text-capitalize fw-semibold"  href="#testimonials">
                        {t('read')} <i class="bi bi-arrow-right ms-2"></i>
                    </a>
                </div>
            </aside>
        </div>
    </section>

    <section id="#vision" class="py-5">
        <div class="container row justify-content-between mx-auto">
            <div class="col-md-6">
                <h2 class="display-6 fw-bold">
                    <!-- We provide expert advice for all size businesses. <br/> -->
                    {t('about.vision.catch')}</h2> 
                <p class="mt-3">{t('about.vision')}</p>
            </div>
            <ul class="col-md-6 list-unstyled row g-3">
                {buztypes.map( (item:itEnum) => <li class="col-sm-6">
                    <button class="nav-link fw-bold text-info fs-6" type="button" data-bs-toggle="collapse" data-bs-target={`#collapse${item}-vision`} aria-expanded="false" aria-controls="collapse-vision">
                        <i class="bi bi-check-square" /> {t(`about.biz.${item}`)}
                    </button>
                    <div class="collapse collapse-vertical ps-4 border-start border-info" id={`collapse${item}-vision`}>
                        {t(`about.biz.${item}.decs`)}
                    </div>
                </li>)}
            </ul>
        </div>
    </section>

    <Steps />
    <Team />
    <ClientReview />
    <Faq />
</Layout>