---
import { getLangFromUrl, useTranslations } from "../../i18n/utils"

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---


<section id="page-hero" class="py-5 hero3 d-flex justify-content-center align-items-center">

	<div class="container row px-3">
		<div class="col-md-8">
			<h1 class="display-5 fw-bold">
				{t('about.desc')}
			</h1>
		</div>
	<div>

</section>