---
import { getLangFromUrl, useTranslations } from "../../i18n/utils"

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---


<section id="page-hero" class="py-5 page-hero hero3 d-flex justify-content-center align-items-center">

	<div class="container row m-auto">
		<div class="col-md-8">
			<h2 class="display-5 fw-bold">{t('nav.about')}</h2>
			<p class="lead">{t('about.desc')}</p>
		</div>
	<div>

</section>