<header style="min-height: 280px;" class="hero3 p-5 d-flex flex-column justify-content-center align-items-center">

    <h1 class="fw-bolder">Blog</h1>
    <p class="lead">Get the lastest on Business, Financial and Accounting topics.</p>

</header>
