---

interface Props {
    currentPage:string;
    hText: string;
    bgClass?: string;
}

const  {
    currentPage = "services",
    hText ="Services Pages",
    bgClass="hero3"
} = Astro.props;

---

<!-- <header style="min-height: 280px;" class="hero3 p-5 d-flex flex-column justify-content-center align-items-center">

    <h1 class="fw-bolder">Blog</h1>
    <p class="lead">Get the lastest on Business, Financial and Accounting topics.</p>

</header> -->

<header id="page-hero-sm" class={`${bgClass} p-5 d-flex flex-column justify-content-center align-items-center`}>
    
    <div class="container text-center text-capitalize">
        <h1 class="fw-bold display-4">{currentPage}</h1>
        <p class="lead">{hText}</p>
    </div>

</header>