---
import { getLangFromUrl, useTranslations } from "../../i18n/utils"

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---
<header id="page-hero" class="hero1 py-5 hero3 d-flex justify-content-center align-items-center">

	<section  class="container nav align-items-center px-3">

        <div  class="col-lg-8 my-4 d-flex flex-column ">
            
            <h1 class="display-5 fw-bold mb-4"> {t("home.desc")}</h1>
        
            <div class="nav gap-2 align-items-center">
                <a class="btn btn-lg btn-primary" href="#services">{t('services.our')}</a> 
                <a class="btn btn-lg btn-outline-light" href="#why">{t('feat.why')}</a>
            </div>
        </div>

    </section>

</header>