<header id="page-header" class="hero1 py-3 px-3">

	<section  class="container nav align-items-center page-hero">

        <div  class="col-lg-6 my-4 d-flex flex-column ">
            <div class="pe-lg-3">
                <h1 class="display-2 fw-bold mb-4">Bring Your Ideas to Life with <span class="text-primary">Bootstrap</span></h1>
                <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat erat quis pulvinar semper.</p>
            </div>
            <div class="nav gap-2 align-items-center">
                <a class="btn btn-lg btn-primary" href="">Get Started</a> 
                <a class="btn btn-lg btn-outline-light" href="">Learn More</a>
            </div>
        </div>

    </section>

</header>

