---

interface Props {
    currentPage:string;
    hText: string;
    bgClass?: string;
}

const  {
    currentPage = "services",
    hText ="Services Pages",
    bgClass="hero3"
} = Astro.props;

---

<header id="page-hero-sm" class={`${bgClass} p-5 d-flex flex-column justify-content-center align-items-center`}>
    
    <div class="container text-center">
        <h1 class="fw-bold display-4">{currentPage}</h1>
        <p class="lead">{hText}</p>
    </div>

</header>