---

---
<div>
    <img style="height: 220px; width:100%;" alt="" class="bg-dark-subtle rounded" src="/nbc/favicon.svg">
    <div class="p-1 mb-3">
        <p style="font-size: smaller;">
            <a class="text-primary" href="/blog/read">Category</a>
            <a class="text-primary" href="/blog/read">Category</a>
            <a class="text-primary" href="/blog/read">Category</a>
        </p>
        <a class="fs-4 fw-semibold d-block" href="">A short engaging title going right here to mak it reviewable</a>
        <span class="text-black-50">27th may 2025</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique nec sapien vel bibendum.</p>
        <a class="icon-link icon-link-hover" href="/">
            Read more <i class="bi bi-chevron-right ms-2 mb-1 small" />
        </a>
    </div>
</div>