


<div  class="d-flex gap-2 p-1">

    <img style="height:4rem;width:4rem;" class="rounded-circle btn btn-lg btn-primary object-fit-fill" src="/public/favicon.svg" alt="">

    <aside>
        <i class="bi bi-quote fs-3 fw-bolder text-primary"></i>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quisquam illum magnam ipsam quibusdam? 
            Molestias laborum quo fugit.
        </p>
        <p>
            <strong>Client Name</strong> <br/>
            Graphic Designer at Company / firm
        </p>
    </aside>

</div>