---
import "../../bootstrap.scss";
---

<main class="container mx-auto min-vh-100 p-3 nav flex-column justify-content-center align-items-center">

    <span>404</span>
    <h2 class="display-4 fw-bold text-primary">Page Not Found</h2>
    <p class="lead mb-4">
        Sorry we couldn't find the page you are looking for
    </p>

    <section style="max-width: 768px;" class="nav justify-content-between align-items-between w-100 py-5">

        <a class="text-primary fw-semibold" href="/nbc/"> 
            <i class="bi bi-arrow-left me-2" />
            back home 
        </a>


        <button  onclick="window.history.back()" class="btn">
            Go back / Retour
        </button>

    </section>

</main>
