---
import "../../bootstrap.scss";
---




<main class=" container d-flex justify-content-center align-items-center mt-5 mx-auto p-4 min-vh-100">

    <div class="fs-3 fw-bold text-primary text-sans" role="status">
        Loading...
    </div>

</main>

<meta http-equiv="refresh" content="0;url=/fr/" />