---
import { getLangFromUrl, useTranslations } from "../i18n/utils"

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---

<section id="contact-us" class="container-fluid d-flex flex-column gap-3 justify-content-center align-items-center py-5 rounded-3 text-bg-primary bg-gradient">

  <aside class="col-md-6">
      <span>{t('contact.ready')}</span>
      <h5 class="display-6 fw-bold mb-3">
        {t('contact.today')}
      </h5>
      <button data-bs-toggle="modal" data-bs-target="#contactUs" class="btn btn-dark">{t('nav.contact')}</button>
  </aside>

</section>