---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

type itEnum = "one"|"two"|"three";
const featList: itEnum[] = ["one","two","three"];

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---

<section id="why" class="py-5">

	<div class="container row mx-auto">

		<div class="col-md-6">
			<img alt="" class="img-fluid w-100 h-100 object-fit-contain rounded-2" src="/nbc/imgs/hero6.avif">
		</div>

		<div class="col-md-6">

			<span>{t('feat.why')}</span>
			<h2 class="display-6 fw-bold">{t("feat.desc")}</h2>

			<ul class="list-unstyled">
				{featList.map( feature => <li class=" d-flex gap-3 mb-2">	
					<i class="fs-4 bi bi-check-circle-fill text-info" />
					<div>
						<strong class="text-info">{t(`feat.${feature}`)}</strong> 
						<br/> {t(`feat.${feature}.desc`)}
					</div>
				</li>)}
			</ul>

			<a href="/nbc/fr/about-us#clients" class="">
				{t('test.client')} <i class="bi bi-arrow-right" />
			</a>

		</div>

	</div>
</section>