

<section class="py-5">

	<div class="container row align-items-center mx-auto">

		<div class="col-md-6">

			<span class="text-muted">Features</span>
			<h2 class="display-6 fw-bold">Our Features</h2>
			<p class="text-muted mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam recusandae voluptatibus quam!</p>

			<div class="row">

				<div class="col-sm-6">
					<i class="d-block bi bi-aspect-ratio" />
					<span class="fs-4 my-3">Responsive Design</span>
					<p>Lorem ipsum dolor sit amet consectetur.</p>
				</div>

				<div class="col-sm-6">
					<div class="mb-sm-0 mb-3">
						<div class="text-muted">
							<i class="bi bi-emoji-wink" />
						</div>
						<h5 class="my-3">Easy-To-Use</h5>
						<p>Lorem ipsum dolor sit amet consectetur.</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="d-flex">
						<div class="text-primary me-4">
							<i class="bi bi-clipboard-check" />
						</div>
						<div>
							<h5 class="mb-2 mb-lg-3 fw-bold">Copy & Paste</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</p>
						</div>
					</div>
				</div>


				<div class="col-md-6">
					<div class="d-flex">
						<div class="text-primary me-4">
							<i class="bi bi-clipboard-check" />
						</div>
						<div>
							<h5 class="mb-2 mb-lg-3 fw-bold">Copy & Paste</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<img alt="" class="img-fluid w-100 object-fit-contain rounded" src="/nbc/imgs/hero6.avif">
		</div>
	</div>
</section>