---
import type { GetStaticPaths } from "astro";

const locale = getLangFromUrl(Astro.url);
const loc = locale == "en";
import BlogCard from "./cards/blogCard.astro";
import { getLangFromUrl } from "../i18n/utils";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", post => post.id.startsWith(locale+"/"));

---
<section class="container-fluid d-flex flex-column gap-3 justify-content-center align-items-center py-5 bg-body-tertiary">

    <aside class="col-12 col-lg-8 col-xxl-7 text-center">
        <span class="text-muted">Posts</span>
        <h3 class="display-6 fw-bold">{loc ? "Latest Updates":"Nouveauté"}</h3>
        <p class="lead">{loc ? "Get the lastest on Business, Financial and Accounting topics.":"Nos Derniers Articles de Blog"}</p>
    </aside>

    <aside class="container mx-auto d-flex justify-content-md-center gap-2 overflow-x-auto">
        {posts.slice(0,3).map( item => <div style="min-width: 250px;max-width: 280px;" class="flex-shrink-0">
            <BlogCard post={item} />
        </div>)}
    </aside>

    <a class="btn btn-primary" href={`${locale}/blog/1`}>{loc?"see more":"voir plus"}</a>

</section>