---
import type { GetStaticPaths } from "astro";
import { languages } from "../i18n/ui";

const locale = getLangFromUrl(Astro.url);
import BlogCard from "./cards/blogCard.astro";
import { getLangFromUrl } from "../i18n/utils";



---
<section class="container-fluid d-flex flex-column gap-3 justify-content-center align-items-center py-5 bg-body-tertiary">

    <aside class="col-12 col-lg-8 col-xxl-7 text-center">
        <span class="text-muted">Posts</span>
        <h3 class="display-6 fw-bold">Latest Updates</h3>
        <p class="lead">Get the lastest on Business, Financial and Accounting topics.</p>
    </aside>

    <aside class="container mx-auto d-flex justify-content-md-center gap-2 overflow-x-auto">
        {[1,2,3].map( item => <div style="min-width: 250px;max-width: 280px;" class="flex-shrink-0">
            {/* <BlogCard post={item} /> */}
        </div>)}
    </aside>

    <a class="btn btn-primary" href={`blog/1`}>see more</a>

</section>