<a class="navbar-brand col-lg-3" href="#">
    <span class="fs-3 fw-bold">Nti Business Consulting</span><br/>
    <span class="fw-light text-danger" style="font-size: x-small;">lorm iposuim adifp</span>
</a>