<div class="d-flex gap-1 align-items-center gap-0 navbar-brand col-lg-3 p-0">
    <a href="/" class="btn btn-lg btn-primary fw-bold fs-4 p-1"> N </a> 
    <div class="lh-0">
        <div class="fw-bold fs-3 mb-2"> B </div>
        <small class="bottom-0">ti business Consulting</small>
    </div>    
</div>