


<ul class="d-none d-md-flex flex-column gap-2 list-unstyled rounded-2 p-1">

    <li>
        <h4>Recent Projects:</h4>
    </li>

    <li class="d-block border rounded p-2">
        <strong>A short engaging title going right here to mak it reviewable</strong> <br/>
        <span>1 day ago</span>
    </li>

    <li class="d-block border rounded p-2">
        <strong>A short engaging title going right here to mak it reviewable</strong> <br/>
        <span>1 day ago</span>
    </li>
    
</ul>
