---
import { getCollection } from "astro:content"
import ServiceCard from "./cards/serviceCard.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const services = await getCollection("services", ({ id }) => {
  return id.includes(locale+"/")
});

---
<section id="services" class="container-fluid d-flex flex-column gap-3 justify-content-center align-items-center py-5 bg-body-tertiary">

  <aside class="col-12 col-lg-8 col-xxl-7 text-center">
    <span class="text-info">{t('services.our')}</span>
    <h3 class="display-6 fw-bold">Services</h3>
    <p class="lead">{t('services.desc')}</p>
  </aside>

	<div class="container row g-3 g-lg-3">
    {services.map( item => <div class="col-sm-6 col-md-4 col-lg-3 position-relative">
        <ServiceCard service={item} />
    </div>)}
	</div>

</section>