<section style="max-width: 968px;" class="container-sm">

    <div class="row row-cols-2 row-cols-lg-4  bg-body text-center shadow rounded-3">
        <div class="col p-3">
            <h4 class="display-6 fw-bold text-primary">50k+</h4>
            <p>Statisfied customers</p>
        </div>
        <div class="col p-3">
            <h4 class="display-6 fw-bold text-primary">5+</h4>
            <p>Years of experience</p>
        </div>
        <div class="col p-3 text-bg-primary">
            <h4 class="display-6 fw-bold">20k+</h4>
            <p>Users trust</p>
        </div>
        <div class="col p-3">
            <h4 class="display-6 fw-bold text-info">20k+</h4>
            <p>Followers</p>
        </div>
    </div>

</section>