<section style="max-width: 968px;" class="container-sm">

    <div class="row row-cols-2 row-cols-lg-4  bg-body text-center shadow rounded-3">
        <div class="col p-3">
            <h4 class="display-6 fw-bold text-primary">50k+</h4>
            <p>Statisfied customers</p>
        </div>
        <div class="col p-3">
            <h4 class="display-6 fw-bold text-primary">5+</h4>
            <p>Years of experience</p>
        </div>
        <div class="col p-3 text-bg-primary">
            <h4 class="display-6 fw-bold">3+</h4>
            <p>Experts</p>
        </div>
        <div class="col p-3">
            <h4 class="display-6 fw-bold text-info">200</h4>
            <p>Projet Followed</p>
        </div>
    </div>

</section>

<section class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div data-iobs="down" data-iobs-transition="0.5s" class="col-lg-2">
                <h2 class="display-5 fw-bold">100+</h2>
                <div>
                    Projets
                </div>
            </div>
            <div data-iobs="down" data-iobs-transition="1s"  class="col-lg-8 my-3 my-lg-0 text-center">
                <h2 class="display-5 fw-bold mb-2">The Possibilities Are Endless</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, non recusandae nulla rerum minus</p>
            </div>
            <div data-iobs="down" data-iobs-transition="1.2s"  class="col-lg-2 text-lg-end">
                <h2 class="display-5 fw-bold">100+</h2>
                <div>
                    Etudes de feasibility
                </div>
            </div>
        </div>
    </div>
</section>