---
---
<section class="py-5 hero2">

	<div class="container row text-center justify-content-center mb-4 mx-auto">

        <div class="col-12 col-lg-10 col-xl-8 text-center">
            <p class="mb-0 fw-light">Steps</p>
            <h2>How It Works</h2>
            <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique nec sapien vel bibendum. Phasellus sagittis nisl vitae auctor sodales.</p></div>

		<div class="row justify-content-center pt-5">
			<div class="col-lg-9 row">
				{ [1,2,3].map( item => <div data-iobs="down" data-iobs-transition={(item/2)+"s"} class="col-lg-4">
                    <div class="rounded text-center p-3 bg-light px-5 mb-5 mb-lg-0">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center fs-3 fw-bold text-bg-primary border border-white border-4" style="width: 4rem; height:4rem; margin-top:-3.5rem;">
                            {item}
                        </div>
                        <h5 class="text-body">Headline</h5>
                        <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
                    </div>
                </div>)}
			</div>
		</div>
	</div>
</section>