---

const steps = [
    {
        step: "Reach out",
        desc:"This step is an opportunity to ensure that your budget and what you wish to achieve can meet the expected results."
    },
    {
        step:"Service Proposal & Information",
        desc:"Then we formalize an agreement, clearly defining expectations for both parties and ensuring transparency regarding the services, deliverables, and costs."
    },
    {
        step: "Execution & Delivery",
        desc:"This step may involve further investigations. Once the work is completed, the firm will provide the agreed-upon results, such as certified financial statements, tax filings, business plans, or advisory reports, along with accurate an explanation of the outcomes."
    }
]
---
<section class="py-5 hero2">

	<div class="container row text-center justify-content-center mb-4 mx-auto">

        <div class="col-12 col-lg-10 col-xl-8 text-center">
            <p class="mb-0 fw-light">Steps</p>
            <h2>How It Works</h2>
            <p class="lead mb-4">
                All you will need are 2-steps and we will do the most difficult tasks to get the results of the services they need:
            </p>
        </div>

		<div class="row justify-content-center pt-5">
			<div class="col-lg-9 row">
				{ steps.map( (item,index) => <div data-iobs="down" data-iobs-transition={((index+1)/2)+"s"} class="col-lg-4">
                    <div class="rounded text-center p-3 bg-light  mb-5 mb-lg-0">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center fs-3 fw-bold text-bg-primary border border-white border-4" style="width: 4rem; height:4rem; margin-top:-3.5rem;">
                            {index+1}
                        </div>
                        <h5 class="text-body">{item.step}</h5>
                        <p class="text-body">{item.desc}</p>
                    </div>
                </div>)}
			</div>
		</div>
	</div>
</section>