---
import BlogCard from "../../../components/cards/blogCard.astro";
import BlogHeader from "../../../components/headers/blogHeader.astro";
import Layout from "../../../layouts/Layout.astro";
import { languages } from "../../../i18n/ui";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
	return Object.keys(languages).map( locale => ({ 
		params : { locale }
	}));
}) satisfies GetStaticPaths;

---

<Layout>

    <BlogHeader />

    <main class="py-5 container-xl">

        <section class="row g-2">

            <aside class="col-md-8 col-lg-9 row">
                <h4 class="col-12 col-lg-12">Posts </h4>
                {[0,1,2,3,4,5,6].map( item => <div class="col-6 col-xl-4">
                    <BlogCard />
                </div>)}
            </aside>

            <aside class="col-md-4 col-lg-3">

                <h4>Recent Posts:</h4>

                <div class="rounded-2 p-1">

                    <div class="d-block border-top">
                        <strong>A short engaging title going right here to mak it reviewable</strong> <br/>
                        <span>1 day ago</span>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit...</p>
                    </div>

                    <div class="d-block border-top">
                        <strong>A short engaging title going right here to mak it reviewable</strong> <br/>
                        <span>1 day ago</span>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit...</p>
                    </div>

                </div>

                <div class="p-3 my-3 hero3 text-center rounded-3">
                    <h4>Build the Business of your dream with sure odds</h4>
                    <p class="mb-4">We are trusted for providing detailed data analytics on real time</p>
                    <a class="btn btn-primary" href="/#contacts">
                        Contact Us
                    </a>
                </div>

                <h4 class="my-3">Categories</h4>
                <p class="fw-semibold lh-lg text-info">
                    Events (23)<br/>
                    Projets (12)<br/>
                    Nouveautes (1)<br/>
                    Announces (0)
                </p>

            </aside>


        </section>

        

            
            <div class="d-grid col-md-2 mx-auto">
                <a class="btn btn-primary btn-lg" href="">Read more</a>
            </div>
    </main>


</Layout>