---

import { languages } from "../../i18n/ui";

---

<div class="dropdown">
    <button
        class="btn btn-primary"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-globe" />
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        {Object.keys(languages).map( (lang) => <li><a class="dropdown-item" href={`/${lang}/`}>
            { lang == "en" ? languages.en :  languages.fr }
        </a></li>)}
    </ul>
</div>