---
import { postTags } from "../../content.config";
import { getLangFromUrl } from "../../i18n/utils";

const locale = getLangFromUrl(Astro.url);

interface Props {
    tags: string[]
}

const { tags } = Astro.props;
const redirectTo = `/nbc/${locale}/blog`;

---


<h4 class="my-3">Categories</h4>
<div class="nav gap-2 mb-4">
    {tags.map( tag => <a href={`${redirectTo}/${tag}/1`} class="btn btn-sm btn-outline-secondary"> {tag} </a>)}
</div>