
<!-- Modal -->
<aside class="modal fade" id="contactUs" tabindex="-1" aria-labelledby="contactUsLabel" aria-hidden="true">

    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Let's Talk</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <form class="modal-body border-top">

            <h2 class="display-5 fw-bold">Contact Us</h2>
            <p>Tailored Solutions for Your Financial Growth, Explore Opportunities.</p>
            <p>
                <a class="me-4" href="tel:+1(234)%20567-89-01">+1(234) 567-89-10</a> 
                <br/>
                <a class="" href="mailto:info@collector.com">hello@yourdomain.com</a>
                <br/>
                Working hours: Mon - fri from 08am - 08pm
            </p>
            
            <input type="text" class="form-control mb-3" name="name" required/>
            <input type="text" class="form-control mb-3" placeholder="phone / email" name="address" required>
            <textarea class="form-control mb-3" name="message" rows="2" placeholder="hi, ..." required></textarea>
            <button class="btn btn-primary" type="submit">Send</button>
            
        </form>

      </div>
    </div>
</aside>